.main-container-cart{
	height: 100vh;
	display: flex;
	justify-content: center;
	font-family: 'Open Sans';
}

.content-left-cart{
	height: 100vh;
	width: 45%;
	margin-top: 3%;
	padding-left: 5%;
	margin-right: 8vw;
}

.content-right-cart{
	height: 40vh;
	width: 25%;
	border: 1px solid black;
	margin-top: 2%;
	position: sticky;
	top: 0;
}

.shopping-cart-header{
	/* font-family: 'Museo'; */ 
	/* commenting this out until we finalize all the fonts */
	font-size: 25px;
	line-height: 22px;
	padding-left: 5%;
	margin-bottom: 5%;

}

.cart-item {
	padding: 16px;
	margin: 8px;
	border: 1px solid grey;
	border-radius: 10px;
	display: flex;
}

.cart-image {
	height: 5em;
	margin-right: 16px;
	border: 1px solid lightgrey;
}

.cart-product-name{
	padding: 8px;
}

.cart-price-container {
	display: flex;
}

.cart-product-price {
	padding-top: 8px;
}
.cart-product-fullprice {
	padding-top: 8px;
	padding-left: 8px;
	color: grey;
	text-decoration: line-through;
}

.cart-product-discount {
	padding-top: 8px;
	padding-left: 8px;
	color: grey;
}

.stripe-checkout {
	padding-left: 30px;
	padding-top: 8px;
}

.cart-items-container{
	height: 50%;
	border-radius: 2%;
	border: thin black solid

}

.cart-countdown-timer-container {
	padding-left: 30px;
	padding-top: 30px;
}

.cart-countdown-timer {
	padding-top: 24px;
}

.right-content-subtotal {
	padding-top: 24px;
}



.return-to-landing-button {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Open Sans';
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.return-to-landing-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.return-to-landing-button:active {
	position:relative;
	top:1px;
}