html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header-container{
    background-image: url('https://d3gqasl9vmjfd8.cloudfront.net/a041e198-e433-46e3-806e-fc29d3a51603.png');
    height: 16vh;
}

.upper-header{
	height: 20px;
	width: 100%;
	padding-left: 10vw;
	padding-top: 8px;
}
.upper-header-image{
	height: 55px;
}

hr {
    display: block;
    height: 1px;
    width: 80%;
    border: 0;
	border-top: 1px solid #ccc;
	opacity: 0.5;
	margin-bottom: 1em;
	margin-top: 2.0em;
    padding: 0;
}

.navbar {
	/* padding-top: 80px; */
	z-index: 100;
	font-family: karla;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
    display: flex;
    justify-content: space-around;
    opacity: 1;
    transition: opacity 0.5s;
    animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1};

}
/* Links inside the navbar */
.navbar a {
    color: #ffffff;
    text-align: center;
    /* padding-top: 14px;
    padding-bottom: 14px; */
    padding-left: 5px;
    text-decoration: none;
    font-family: karla;
    font-size: 18px;

    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    
}
.navbar a:hover {
    color: lightgrey;
}