.footer-container{
    display: flex;
    border-top: 1px solid lightgrey;
}

.footer-woot-container{
    padding: 2em;
}

.footer-community-container{
    padding: 2em;
}

.footer-blog-container{
    padding: 2em;
}